@charset "utf-8";


$breakpoints: (
	"sp": "(max-width: 767px)",
	"md": "(min-width: 768px)",
)!default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

$font-color: #333333;
$primary-color: #3EA1D1;


@include mq(md) {
  .is-sp {
    display: none;
  }
}


@include mq(sp) {
  .is-pc  {
    display: none;
  }
}

body {
  font-size: 16px;
  color: $font-color;
  font-family: ヒラギノ明朝 ProN;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @include mq(sp) {
    max-width: 345px;
  }
}


.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;

  .drawer-hamburger {

    .drawer--right & {
      right: 3px;
    }
  }
}

.header-inner {

  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }

  align-items: center;

  @include mq(sp) {
    height: 60px;
    padding: 16px 0 20px;
  }
}

.header-logo {
  width: 120px;
  height: 28px;

  @include mq(sp) {
    height: 21px;
  }

  img {
    width: 100%;
  }
}

.drawer-hamburger-icon {
  background-color: $primary-color;
  right: 3px;


  &:before,
  &:after {
    background-color: $primary-color;
  }
}



.header-nav {
  
  @include mq(sp) {
    top: 60px;
    background: $primary-color;
  }  
}

.header-nav-list {
  @include mq(md) {
    display: flex;
  }
}

.header-nav-items {
  display: block;
  height: 70px;
  line-height: 70px;
  letter-spacing: .1em;

  & + & {
    margin-left: 48px;
  }

  @include mq(sp) {
    text-align: right;
    padding-right: 15px;
    font-size: 18px;
    padding-top: 40px;
  }
}

.header-nav-item {
  color: $font-color;
  transition: color .4s;

  &:hover {
    color: $primary-color;
  }

  @include mq(sp) {
    color: #fff;
  }
}


.main {
  padding-top: 70px;

  @include mq(sp) {
    padding-top: 60px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-top: 160px;
  margin-bottom: 64px;

  @include mq(sp) {
    font-size: 30px;
    margin-top: 96px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: calc(50% - 30px);
    width: 60px;
    height: 1px;
    border-radius: 1px solid;
    background: $primary-color;    
  }
}


// top

.top {
  position: relative;
}

.top-picture {

  @include mq(md) {
    padding-top: 55%;
    background: url(/ポートフォリオ/sobolon/img/PC/top@2x.png) top right / 82.5% no-repeat;
  }

  @include mq(sp) {
   padding-top: 120%;
   background: url(/ポートフォリオ/sobolon/img/SP/top@2x.png) center center / cover;
  }
}

.top-message {

  @include mq(md) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  background-color: #fff;
  padding: 92px 40px 92px 0;

  @include mq(sp) {
    padding: 40px 0 32px;
  }
  
}

.top-title {
  font-size: 26px;
  font-weight: bold;
}

.top-text {
  margin-top: 28px  ;
}


// concept

.concept-items {

  @include mq(md) {
    display: flex;
  }

  align-items: center;
}

.concept-picture {

  @include mq(md) {
    flex: 0 0 50%;
  }
}

.concept-message {
  
  @include mq(md) {
    flex: 0 1 50% ;
    margin-left: 80px;
  }
}

.concept-title {
  font-size: 20px;
  font-weight: bold;

  @include mq(sp) {
    margin-top: 40px;
  }
}

.concept-text {
  margin-top: 48px;

  @include mq(sp) {
    margin-top: 32px;
  }
}


// feature

.feature-lists {

  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.feature-list {

  @include mq(md) {
    width: 28.3333%;

    &:hover {
      .feature-picture > img {
        transform: scale(1.05);
    }
    }
  }

  @include mq(sp) {

    & + & {
      margin-top: 48px;
    }
  }
}

.feature-picture {
  overflow: hidden;

  > img {
    transition: transform .4s;
  }
}

.feature-body {
  display: block;
  text-align: center;
  padding: 32px 90px;
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

.feature-text {
  color: $font-color;
}


// about

.about {
  position: relative;

  @include mq(md) {
    margin-top: 160px;
    background: url(/ポートフォリオ/sobolon/img/PC/bg@2x.png) center center / cover;
    height: 478px;
  }
  
  @include mq(sp) {
    margin-top: 128px;
    background: url(/ポートフォリオ/sobolon/img/SP/bg@2x.png) center center / cover;
    height: 484px;
  }

  

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0,0,0,.12);
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
  }
}

.about-inner {
  position: relative;
  top: 0;
  left: 0;
}

.about-title {
  font-size: 22px;
  color: #fff;
  padding-top: 126px;

  @include mq(sp) {
    font-size: 20px;
    padding-top: 182px;
  }

}

.about-text {
  padding-top: 40px;
  color: #fff;

  @include mq(sp){
    font-size: 14px;
    padding-top: 32px;
  }
}


// products

.products-inner {
  max-width: 940px;

  @include mq(sp) {
    max-width: 260px;
  }
}

.products-lists {

  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.products-list {
  
  @include mq(md) {
    width: 27.65%;

    .products-picture > img {

      &:hover {
        transform: scale(1.05);
        transition: transform .4s;
      }
    }
  }

  @include mq(sp) {

    & + & {
      margin-top: 48px;
    }
  }
}

.products-picture {
  overflow: hidden;

  > img {

  }
}

.products-body {
  display: block;
}

.products-text {
  font-size: 14px;
  color: #333333;
  margin-top: 24px;
}

.products-cost {
  font-size: 14px;
  color: #989898;
  margin-top: 16px;
}

.products-more {
  text-align: center;
  margin-top: 48px;
}


.more-link {
  border: 1px solid $primary-color;
  border-radius: 0;
  color: $primary-color;
  padding: 16px 54px;
  background: #fff;

  &:hover {
    background: $primary-color;
    color: #fff;
    transition: background .4s,color .4s;
  }
}

// news


.news-inner {
  max-width: 1040px;

  @include mq(sp) {
    max-width: 310px;
  }
}

.news-more {
  text-align: center;
  margin-top: 48px;
}


.news-item {
  border-bottom: 1px solid #E0E0E0;
  margin-top: 22px;

  @include mq(md) {
    display: flex;
    padding-bottom: 12px;

    .news-picture > img {

      &:hover {
        transform: scale(1.05);
        transition: transform .4s;
      }
    }
  }
}


.news-picture {
  overflow: hidden;
  height: 160px;

  @include mq(md) {
    flex: 0 0 25%;
  }


  @include mq(sp) {
    height: 191px;
  }
}

.news-body {

  @include mq(md) {
    padding: 25px 0px 48px 40px;
  }
}

.news-date {
  font-size: 14px;
  color: $font-color;

  @include mq(sp) {
    margin-top: 24px;
  }
  
}

.news-title {
  font-size: 18px;
  color: $font-color;

  @include mq(sp) {
    font-size: 16px;
    margin-top: 16px;
  }
  
}

.news-text {
  font-size: 14px;
  color: #888888;

  @include mq(sp) {
    padding: 24px 0;
  }
}


// concept2

.concept2 {
  margin-top: 160px;

  @include mq(sp) {
    margin-top: 96px;
  }
}

.concept2-items {

  @include mq(md) {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }
}

.concept2-picture {
  @include mq(md) {
    flex: 0 0 50%;
  }
}

.concept2-message {
  
  @include mq(md) {
    flex: 0 1 50% ;
    margin-right: 80px;
  }

  @include mq(sp) {
    margin-top: 40px;
  }
}

.concept2-title {
  font-size: 28px;
  font-weight: bold;

  @include mq(sp) {
    font-size: 20px;
  }
}

.concept2-text {
  margin-top: 48px;

  @include mq(sp) {
    margin-top: 32px;
    font-size: 14px;
  }
}


// contact

.contact {
  background: url(/ポートフォリオ/sobolon/img/PC/contact@2x.png) center center / cover;
  height: 800px;

  @include mq(sp) {
    height: 835px;
  }
}

.contact-inner {
  max-width: 510px;

  @include mq(sp) {
    max-width: 320px;
  }
}

.contact-section-title {
  color: $primary-color;
  font-size: 40px;
  padding-top: 72px;

  @include mq(sp) {
    padding-top: 57px;
  }
}

.contact-form {

}

input[type="text"],
input[type="email"],
textarea {
  width: 320px;
  border: 0;
  height: 40px;
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  font-size: 16px;

  input[type="text"],
  input[type="email"] {
    height: 40px;
  }

  textarea {
    min-height: 122px;
    resize: vertical;
  }
}

.contact-privacy-link {
  color: $primary-color;
  text-decoration: underline;
}

.contact-footer {
  margin-top: 30px;
}



.contact-text {
  font-size: 14px;
  text-align: center;
}

.contact-title {
  font-size: 18px;
  background-color: rgba(62, 161, 209, 0.7);
  color: #fff;
  margin-right: 10px;
  padding-left: 10px;
  position: relative;
  height: 40px;
  line-height: 40px;

  @include mq(md) {
    flex: 0 1 35.29%;
    
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -8px;
      border-style: solid;
      border-width: 20px 0 20px 8px;
      border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
    }
  }

  @include mq(sp) {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    text-align: left;
    padding: 0 16px;
  }

  

}   

.contact-text {
  margin-bottom: 24px;
}

.contact-ast-only {
  color: #E7728E;
}

.contact-ast {
  color: #E7728E;
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}


.contact-list {
  margin: 0 auto;
}

.contact-item {

  @include mq(md) {
    display: flex;
  }

  & + & {
    margin-top: 32px;
  }
}


.contact-input {

  @include mq(md) {
    flex: 0 0 320px;
    margin-left: 10px;
  }
}



.contact-submit {

  margin-top: 51px;
  text-align: center;

  &.-active {
    // background: $primary-color;
    color: #fff;
  }
  
  button {
    border: none;
    border: 1px solid $primary-color;
    border-radius: 0;
    padding:16px 54px;
    color: $primary-color;
    background: #fff;
    font-size: 14px;


    &:hover {
      background: $primary-color;
      color: #fff;
      transition: background .4s,color .4s;
    }
  }
  
}

.contact-radio {
  position: relative;
  display: block;

}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-radio-part {
    background-color: $primary-color;
    color: #fff;
    border-radius: 1px;
  }

  &:focus + .contact-radio-part {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.contact-radio-part {
  display:block;
  background-color: #fff;
  color: $primary-color;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
}

.contact-radio-wrap {
  display: inline-flex;
  border: solid 1px #fff;
  border-radius: 1px;
  box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
}


.contact-footer {
  text-align: center;
}

.contact-privacy { 
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-privacy-part {
    width: 10px;
    border-top: 0;
    border-left: 0;
    background-color: transparent;
    transform: rotate(45deg);
    top: -5px;
    left: 5px;
  }

  &:focus + .contact-privacy-part {
    outline: -webkit-focus-ring-color auto 1px;
  }

  &:checked:focus + .contact-privacy-part {
    outline: none;
  }
}

.contact-privacy-part {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: solid 1px $primary-color;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;

}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;

  &.-error {
    color: #f00;
  }
}


//  footer


.footer {
  background: #F7F7F7;
}

.footer-picture {
  width: 120px;
  height: 22px;
  margin: 0 auto;
  margin-top: 48px;

  @include mq(sp) {
    margin-top: 40px;
  }
}

.footer-items {

  @include mq(md) {
    display: flex;
    justify-content: center;
  }

  padding-top: 24px;

  @include mq(sp) {
    text-align: center;
  }
}

.footer-item {

  @include mq(md) {
    margin-bottom: 36px;

    & + & {
      margin-left: 32px;
    }
  }

  a {
  color: #333333;

  &:hover {
    color: $primary-color;
    transition: color .4s;
  }
  }

  @include mq(sp) {
    margin-top: 16px;
  }


}

.footer-sns-list {

  display: flex;
  justify-content: center;

  @include mq(sp) {
    margin-top: 32px;
  }
}

.footer-sns-items {

  display: flex;
  justify-content: center;
  width: 22px;
  height: 22px;

  @include mq(sp) {
    height: 24px;
  }
}

.footer-sns-item {
  color: $primary-color;
  font-size: 22px;

  & + & {
    margin-left: 40px;
  }
}


.footer-text {
  color: #888888;
  font-size: 12px;
  margin-top: 24px;
  margin-bottom: 17px;
  text-align: center;

  @include mq(sp) {
    margin-top: 18px;
  }
}