@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@300&family=Parisienne&family=Sawarabi+Mincho&display=swap");
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body,
html {
  font-size: 14px;
  font-family: "Noto Serif JP", serif, "Noto Sans JP", sans-serif, "Sawarabi Mincho", sans-serif;
}

@media (max-width: 767px) {
  body,
  html {
    font-size: 12px;
  }
}

img {
  width: 100%;
}

.inner {
  width: 76.38%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 70px;
  font-family: "Dancing Script", cursive, "Great Vibes", cursive, "Parisienne", cursive;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  padding-top: 140px;
}

@media (max-width: 767px) {
  .section-title {
    padding-top: 70px;
  }
}

.section-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 100px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #666;
  border-radius: 2px;
}

.access {
  background: url(../../images/secondhouse/bg.jpg);
  position: relative;
  z-index: -5;
  overflow: hidden;
}

.access:before {
  content: '';
  background: inherit;
  filter: blur(1px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.drawer-hamburger-icon {
  background: #fff;
}

.drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
  background: #fff;
}

@media (max-width: 767px) {
  .drawer-nav {
    background: url(../../images/secondhouse/bg.jpg);
  }
}

header {
  background: #222;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
}

@media (max-width: 767px) {
  .header-inner {
    margin: 0;
  }
}

.header-logo {
  padding: 10px;
}

.header-logo img {
  width: 160px;
  height: 40px;
}

.header-nav {
  margin-left: auto;
}

.header-menu {
  line-height: 60px;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
  }
}

.header-menu-item {
  color: #fff;
  margin-left: 24px;
  position: relative;
  display: inline-block;
  transition: .3s;
}

@media (max-width: 767px) {
  .header-menu-item {
    color: #222;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .header-menu-item:before, .header-menu-item:after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: .3s;
  }
  .header-menu-item:before {
    top: 20%;
    left: 0;
  }
  .header-menu-item:after {
    bottom: 20%;
    right: 0;
  }
  .header-menu-item:hover:before, .header-menu-item:hover:after {
    width: 100%;
  }
}

.section-arrow {
  position: absolute;
  left: 50%;
  transform: rotate(90deg);
  z-index: 100;
  filter: drop-shadow(6px 0px 3px #222);
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #222;
  vertical-align: middle;
  text-decoration: none;
}

.arrow:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

.arrow:before, .arrow:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow:before {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  border: 2px solid #222;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.arrow:after {
  left: 45px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 8px solid transparent;
  border-left: 8px solid #222;
}

.top-arrow {
  bottom: 10%;
}

.top-arrow .arrow {
  color: #fff;
}

.top-arrow .arrow:before {
  border: 2px solid #fff;
}

.top-arrow .arrow:after {
  border-left: 8px solid #fff;
}

.top {
  background: url(../../images/secondhouse/parallax-2.jpg) no-repeat center bottom/cover;
  width: 100%;
  height: 600px;
  position: relative;
}

@media (max-width: 767px) {
  .top {
    background: url(../../images/secondhouse/parallax-2.jpg) no-repeat -300px bottom/cover;
  }
}

.top-logo {
  position: absolute;
  right: 15%;
  top: 30%;
  filter: drop-shadow(10px 10px 3px #222);
}

.top-logo img {
  width: 100%;
  height: auto;
}

.top-items {
  position: absolute;
  font-size: 50px;
  color: #fff;
  bottom: 2.5%;
  filter: drop-shadow(5px 5px 3px #222);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.access {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.access-bg-1 {
  position: absolute;
  width: 200%;
  height: 200px;
  background: #222;
  top: 30%;
  left: -30%;
  z-index: 3;
  transform: rotate(-30deg);
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.access-bg-2 {
  position: absolute;
  width: 200%;
  height: 200px;
  background: #222;
  bottom: -8%;
  left: -50%;
  z-index: 6;
  transform: rotate(45deg);
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .access-bg-2 {
    bottom: 10%;
  }
}

.access-inner {
  position: relative;
  height: 1300px;
  margin-top: 140px;
}

@media (max-width: 767px) {
  .access-inner {
    margin-top: 70px;
    height: 1400px;
  }
}

.access-title {
  text-align: center;
  padding-top: 0;
  margin-bottom: 35px;
}

.access-left {
  position: absolute;
  width: 50%;
  height: 650px;
  background: #E3E0DE;
  padding: 20px;
  top: 0;
  left: 8%;
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

@media (max-width: 767px) {
  .access-left {
    width: 90%;
    left: 5%;
  }
}

.access-lists {
  width: 90%;
  margin: 0 auto;
}

.access-list {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-top: 14px;
  padding-left: 2.5em;
}

@media (max-width: 767px) {
  .access-list {
    font-size: 14px;
  }
}

.list-title {
  width: 35%;
  font-size: 18px;
  text-align: left;
  position: relative;
  display: inline-block;
  padding: 1em 0em 1em 2.5em;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #666;
  margin-top: 20px;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .list-title {
    width: 50%;
  }
}

.list-title:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

.divider {
  margin-right: auto;
  margin-top: 4px;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #222, #E3E0DE);
}

.access-right {
  width: 50%;
  position: absolute;
  top: 40%;
  right: 8%;
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

@media (max-width: 767px) {
  .access-right {
    width: 90%;
    top: 50%;
    right: 5%;
  }
}

.footer {
  background: #222;
  padding: 20px 0;
}

.footer-items {
  display: flex;
}

.footer-left {
  width: 50%;
  text-align: left;
}

.footer-menu-item {
  display: block;
  color: #fff;
  padding: 4px 2px;
  position: relative;
  display: inline-block;
  transition: .3s;
}

.footer-menu-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: .3s;
}

.footer-menu-item:hover:after {
  width: 100%;
}

.footer-right {
  width: 50%;
  text-align: right;
  position: relative;
}

.footer-sns {
  font-size: 28px;
  position: absolute;
  bottom: 0px;
  right: 0;
}

@media (max-width: 767px) {
  .footer-sns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.footer-sns a {
  color: #fff;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .footer-sns a {
    padding: 0 10px;
  }
  .footer-sns a:last-child {
    padding-right: 0;
  }
}

.footer-sns a:hover {
  color: #666;
  transition: all 0.3s;
}

.footer-logo {
  padding: 10px;
}

@media (max-width: 767px) {
  .footer-logo {
    padding: 0;
  }
}

.footer-logo img {
  width: 160px;
  height: 40px;
}

.copyright {
  color: #fff;
  margin-top: 14px;
}

@media (max-width: 767px) {
  .copyright {
    margin-top: 20px;
  }
}

.page-top {
  margin: 0;
  padding: 0;
}

.page-top p {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.move-page-top {
  display: block;
  background: #666;
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.move-page-top:hover {
  opacity: 0.85;
}
