@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@300&family=Parisienne&family=Sawarabi+Mincho&display=swap');

// reset.css
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// reset.css end

// レスポンシブ-breakpoint

$breakpoints: (
  "sp": "(max-width: 767px)",
  "md": "(min-width: 768px)",
)!default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.is-pc {
  @include mq(sp) {
    display: none;
  }
}

.is-sp {
  @include mq(md) {
    display: none;
  }
}

// 変数指定

$font-black: #222;
$font-gray: #666;
$font-white: #fff;
$font-red: #EA4434;
$font-blue: #4f6fad;
$font-family-ja: 'Noto Serif JP', serif,'Noto Sans JP', sans-serif,'Sawarabi Mincho', sans-serif;
$font-family-en: 'Dancing Script', cursive,'Great Vibes', cursive,'Parisienne', cursive;


// 共通クラス

body,
html {
  font-size: 14px;
  font-family: $font-family-ja;

  @include mq(sp) {
    font-size: 12px;
  }
}

img {
  width: 100%;
}

.inner {
  width: 76.38%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 70px;
  font-family: $font-family-en;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  padding-top: 140px;

  @include mq(sp) {
    padding-top: 70px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 100px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $font-gray;
    border-radius: 2px;
  }
}

.access {
  background: url(/ポートフォリオ/SecondHouse/img/bg.jpg);
  position: relative;
  z-index: -5;
  overflow: hidden;

  &:before {
    content: '';
  background: inherit;
  filter: blur(1px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  }
}

// header

.drawer-hamburger-icon {
  background: $font-white;

  &:before,
  &:after {
  background: $font-white;
  }
}

.drawer-nav {

  @include mq(sp) {
    background: url(/ポートフォリオ/SecondHouse/img/bg.jpg);
  }
}

header {
  background: $font-black;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;

  @include mq(sp) {
    margin: 0;
  }
}

.header-logo {
  padding: 10px;
  
  img {
    width: 160px;
    height: 40px;
  }
}

.header-nav {
  margin-left: auto;
}

.header-menu {
  line-height: 60px;
  
  @include mq(md) {
    display: flex;

  }
}

.header-menu-item {
  color: $font-white;
  margin-left: 24px;
  position: relative;
  display: inline-block;
  transition: .3s;


  @include mq(sp) {
    color: $font-black;
    font-size: 16px;
  }

  @include mq(md) {
    &:before,
    &:after {
  
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: $font-white;
      transition: .3s;
    }
  
    &:before {
      top: 20%;
      left: 0;
    }
  
    &:after {
      bottom: 20%;
      right: 0;
    }
  
    &:hover:before,
    &:hover:after {
      width: 100%;
    }
  }
}

.section-arrow {
  position: absolute;
  left: 50%;
  transform: rotate(90deg);
  z-index: 100;
  filter: drop-shadow(6px 0px 3px $font-black);

}

.arrow{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: $font-black;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    transition: all 0.3s;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }

      &:before {
        box-sizing: border-box;
        width: 60px;
        height: 30px;
        border: 2px solid $font-black;
        -webkit-border-radius: 30px;
        border-radius: 30px;
      }

      &:after {
        left: 45px;
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        border: 8px solid transparent;
        border-left: 8px solid $font-black;
      }
}

// top

.top-arrow {
  bottom: 10%;

  .arrow {
    color: $font-white;
  
      &:before {
        border: 2px solid $font-white;
      }
  
      &:after {
        border-left: 8px solid $font-white;
      }
  }
}

.top {
  background: url(/ポートフォリオ/SecondHouse/img/parallax-2.jpg) no-repeat center bottom / cover;
  width: 100%;
  height: 600px;
  position: relative;

  @include mq(sp) {
    background: url(/ポートフォリオ/SecondHouse/img/parallax-2.jpg) no-repeat -300px bottom / cover;
  }
}


.top-logo {
  position: absolute;
  right: 15%;
  top: 30%;
  filter: drop-shadow(10px 10px 3px $font-black);

  img {
    width: 100%;
    height: auto;
  }
}

.top-items {
  position: absolute;
  font-size: 50px;
  color: $font-white;
  bottom: 2.5%;
  filter: drop-shadow(5px 5px 3px $font-black);
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

// access

.access {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.access-bg-1 {
  position: absolute;
  width: 200%;
  height: 200px;
  background: $font-black;
  top: 30%;
  left: -30%;
  z-index: 3;
  transform: rotate(-30deg);
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, .3);

}

.access-bg-2 {
  position: absolute;
  width: 200%;
  height: 200px;
  background: $font-black;
  bottom: -8%;
  left: -50%;
  z-index: 6;
  transform: rotate(45deg);
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, .3);

  @include mq(sp) {
    bottom: 10%;
  }
}

.access-inner {
  position: relative;
  height: 1300px;
  margin-top: 140px;

  @include mq(sp) {
    margin-top: 70px;
    height: 1400px;
  }
}

.access-title {
  text-align: center;
  padding-top: 0;
  margin-bottom: 35px;
}

.access-left {
  position: absolute;
  width: 50%;
  height: 650px;
  background: #E3E0DE;
  padding: 20px;
  top: 0;
  left: 8%;
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, .3);
  z-index: 5;

  @include mq(sp) {
    width: 90%;
    left: 5%;
  }
}

.access-lists {
  width: 90%;
  margin: 0 auto;
}

.access-list {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-top: 14px;
  padding-left: 2.5em;

  @include mq(sp) {
    font-size: 14px;
  }
}

.list-title {
  width: 35%;
  font-size: 18px;
  text-align: left;
  position: relative;
  display: inline-block;
  padding: 1em 0em 1em 2.5em;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: $font-gray;
  margin-top: 20px;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, .3);

  @include mq(sp) {
    width: 50%;
  }


  &:before {
    position: absolute;
    top: calc(50% - 7px);
    left: 10px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%;
    background: $font-white;
  }
}

.divider {
  margin-right: auto;
  margin-top: 4px;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: $font-blue;
  background-image: linear-gradient(to right, $font-black, #E3E0DE);
}

.access-right {
  width: 50%;
  position: absolute;
  top: 40%;
  right: 8%;
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, .3);
  z-index: 10;

  @include mq(sp) {
    width: 90%;
    top: 50%;
    right: 5%;
  }
}



// footer
.footer {
  background: $font-black;
  padding: 20px 0;
}

.footer-items {
  display: flex;
}

.footer-left {
  width: 50%;
  text-align: left;
}

.footer-menu-item {
  display: block;
  color: $font-white;
  padding: 4px 2px;
  position: relative;
  display: inline-block;
  transition: .3s;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background-color: $font-white;
    transition: .3s;
  }

  &:hover:after {
    width: 100%;
  }
}

.footer-right {
  width: 50%;
  text-align: right;
  position: relative;
}

.footer-sns {
  font-size: 28px;
  position: absolute;
  bottom: 0px;
  right: 0;

  @include mq(sp) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  
  a {
    color: $font-white;
    padding: 0 20px;

    @include mq(sp) {
      padding: 0 10px;

      &:last-child {
        padding-right: 0;
      }
    }    

    &:hover {
      color: $font-gray;
      transition: all 0.3s;
    }
  }
}

.footer-logo {
  padding: 10px;
  
  @include mq(sp) {
    padding: 0;
  }

  img {
    width: 160px;
    height: 40px;
  }
}


.copyright {
  color: $font-white;
  margin-top: 14px;

  @include mq(sp) {
    margin-top: 20px;
  }
}


// totop

.page-top
{
	margin: 0 ;
  padding: 0 ;
}
 
.page-top p
{
	margin: 0 ;
	padding: 0 ;
	position: fixed ;
	right: 16px ;
  bottom: 16px ;
  
  @include mq(sp) {
    // right: -316px;
  }
}
 
.move-page-top
{
	display: block ;
	background: $font-gray ;
	width: 50px ;
	height: 50px ;
	color: #fff ;
	line-height: 50px ;
	text-decoration: none ;
	text-align: center;
	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
  transition:all 0.3s ;
  border-radius: 50%;
}

.move-page-top:hover
{
	opacity: 0.85 ;
}