@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@300&family=Parisienne&family=Sawarabi+Mincho&display=swap");
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body,
html {
  font-size: 14px;
  font-family: "Noto Serif JP", serif, "Noto Sans JP", sans-serif, "Sawarabi Mincho", sans-serif;
}

@media (max-width: 767px) {
  body,
  html {
    font-size: 12px;
  }
}

img {
  width: 100%;
}

.wrapper {
  overflow: hidden;
}

.inner {
  width: 76.38%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 70px;
  font-family: "Dancing Script", cursive, "Great Vibes", cursive, "Parisienne", cursive;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  padding-top: 140px;
}

@media (max-width: 767px) {
  .section-title {
    padding-top: 70px;
  }
}

.section-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 100px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #666;
  border-radius: 2px;
}

.concept,
.service,
.bg {
  background: url(/ポートフォリオ/SecondHouse/img/bg.jpg);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.concept:before,
.service:before,
.bg:before {
  content: '';
  background: inherit;
  filter: blur(1px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.drawer-hamburger-icon {
  background: #fff;
}

.drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
  background: #fff;
}

@media (max-width: 767px) {
  .drawer-nav {
    background: url(/ポートフォリオ/SecondHouse/img/bg.jpg);
  }
}

header {
  background: #222;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
}

@media (max-width: 767px) {
  .header-inner {
    margin: 0;
  }
}

.header-logo {
  padding: 10px;
}

.header-logo img {
  width: 160px;
  height: 40px;
}

.header-nav {
  margin-left: auto;
}

.header-menu {
  line-height: 60px;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
  }
}

.header-menu-item {
  color: #fff;
  margin-left: 24px;
  position: relative;
  display: inline-block;
  transition: .3s;
}

@media (max-width: 767px) {
  .header-menu-item {
    color: #222;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .header-menu-item:before, .header-menu-item:after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: .3s;
  }
  .header-menu-item:before {
    top: 20%;
    left: 0;
  }
  .header-menu-item:after {
    bottom: 20%;
    right: 0;
  }
  .header-menu-item:hover:before, .header-menu-item:hover:after {
    width: 100%;
  }
}

.section-arrow {
  position: absolute;
  left: 50%;
  transform: rotate(90deg);
  z-index: 100;
  filter: drop-shadow(6px 0px 3px #222);
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #222;
  vertical-align: middle;
  text-decoration: none;
}

.arrow:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

.arrow:before, .arrow:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow:before {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  border: 2px solid #222;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.arrow:after {
  left: 45px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 8px solid transparent;
  border-left: 8px solid #222;
}

.top-arrow {
  bottom: 7.5%;
}

.top-arrow .arrow {
  color: #fff;
}

.top-arrow .arrow:before {
  border: 2px solid #fff;
}

.top-arrow .arrow:after {
  border-left: 8px solid #fff;
}

.top {
  background: url(/ポートフォリオ/SecondHouse/img/top.jpg) no-repeat center bottom/cover;
  width: 100%;
  height: 770px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .top {
    background: url(/ポートフォリオ/SecondHouse/img/top.jpg) no-repeat -650px bottom/cover;
  }
}

.top-logo {
  position: absolute;
  right: 15%;
  top: 25%;
  filter: drop-shadow(10px 10px 3px #222);
}

@media (max-width: 767px) {
  .top-logo {
    right: 10%;
    top: 50%;
  }
}

.top-logo img {
  width: 100%;
  height: auto;
}

.top-items {
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 3em;
  color: #fff;
  top: 40%;
  filter: drop-shadow(5px 5px 3px #222);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

@media (max-width: 767px) {
  .top-items {
    top: 30%;
    font-size: 2.5em;
  }
}

.top-items span {
  display: inline-block;
}

.concept {
  padding-bottom: 140px;
}

@media (max-width: 767px) {
  .concept {
    padding-bottom: 70px;
  }
}

.concept-text {
  font-size: 28px;
}

@media (max-width: 767px) {
  .concept-text {
    font-size: 20px;
    line-height: 1.5;
  }
}

.concept-more {
  padding-top: 20px;
  line-height: 1.5;
}

.parallax-window {
  min-height: 600px;
  background: transparent;
  width: 100%;
}

.parallax-slider {
  top: 0;
  left: 0;
}

.pr-box {
  width: 100%;
  text-align: center;
  line-height: 600px;
}

.pr-text {
  color: #fff;
  font-family: "Dancing Script", cursive, "Great Vibes", cursive, "Parisienne", cursive;
  font-size: 60px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

@media (max-width: 767px) {
  .pr-text {
    font-size: 30px;
  }
}

.pr-text:before, .pr-text:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  background-color: #fff;
}

.pr-text:before {
  left: 0;
}

.pr-text:after {
  right: 0;
}

.service {
  padding-bottom: 140px;
}

@media (max-width: 767px) {
  .service {
    padding-bottom: 70px;
  }
}

.service-text {
  font-size: 28px;
}

@media (max-width: 767px) {
  .service-text {
    font-size: 20px;
    line-height: 1.5;
  }
}

.service-text-more {
  padding: 20px 0;
  line-height: 1.5;
}

.service-items {
  justify-content: space-between;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .service-items {
    display: flex;
  }
}

.service-item {
  flex: 0 0 30%;
  background: #fff;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: 2px solid;
  outline-color: #878787;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

@media (max-width: 767px) {
  .service-item {
    margin: 40px 0;
  }
}

.service-item:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 3px 3px 10px #666;
  cursor: pointer;
}

.service-item-title {
  font-size: 20px;
  padding: 20px 0;
  letter-spacing: 0.5em;
  font-weight: bold;
}

.service-icon {
  font-size: 30px;
}

.menu {
  padding-bottom: 140px;
  position: relative;
}

@media (max-width: 767px) {
  .menu {
    padding-bottom: 70px;
  }
}

.menu-arrow {
  bottom: 1%;
}

.menu-container {
  position: relative;
  width: 100%;
  height: 600px;
}

@media (max-width: 767px) {
  .menu-container {
    height: 1200px;
  }
}

.menu-title-left,
.menu-title-right {
  position: absolute;
  font-family: "Dancing Script", cursive, "Great Vibes", cursive, "Parisienne", cursive;
  color: #666;
  font-size: 40px;
}

.menu-title-left {
  left: 60%;
  top: 5%;
  transform: rotate(90deg);
}

@media (max-width: 767px) {
  .menu-title-left {
    left: 83%;
    top: 3%;
    z-index: 100;
  }
}

.menu-title-right {
  right: 60%;
  top: 55%;
  transform: rotate(-90deg);
}

@media (max-width: 767px) {
  .menu-title-right {
    right: 85%;
    top: 53%;
    z-index: 100;
  }
}

.menu-left,
.menu-right {
  position: absolute;
  width: 60%;
  height: 45%;
  background: #E3E0DE;
}

@media (max-width: 767px) {
  .menu-left,
  .menu-right {
    width: 90%;
    height: auto;
  }
}

.menu-left {
  top: 0;
  left: 0;
  box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.menu-right {
  top: 50%;
  right: 0;
  box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .menu-items {
    display: flex;
  }
}

.reverse {
  flex-flow: row-reverse;
}

.menu-item-left {
  flex: 0 0 30%;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .menu-item-left {
    width: 100%;
  }
}

.menu-item-left img {
  height: 170px;
}

.menu-item-right {
  flex: 0 0 70%;
}

.menu-item-lists {
  padding: 20px;
}

@media (min-width: 768px) {
  .menu-item-lists {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .menu-item-lists {
    padding: 0 20px 20px;
  }
}

.menu-item-list {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  flex: 0 0 45%;
  margin: 0 auto;
  padding-top: 40px;
  border-bottom: 1px solid #666;
}

@media (max-width: 767px) {
  .menu-item-list:last-child {
    margin-bottom: 20px;
  }
}

.food-lists {
  display: block;
}

.hot,
.ice,
.esp {
  font-size: 14px;
  margin-left: 8px;
}

.hot:nth-child(2),
.ice:nth-child(2),
.esp:nth-child(2) {
  margin-left: 0;
}

.hot {
  color: #EA4434;
}

.ice {
  color: #4f6fad;
}

.esp {
  color: #666;
}

.menu-item-more {
  padding-top: 40px;
}

@media (max-width: 767px) {
  .menu-item-more {
    font-size: 10px;
  }
}

.contact {
  padding: 140px 0;
}

@media (max-width: 767px) {
  .contact {
    padding: 70px 0;
  }
}

.contact-container {
  max-width: 80%;
  margin: 50px auto 0px;
  background-color: #fff;
  border-radius: 10px;
  border-top: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .contact-container {
    max-width: 100%;
  }
}

.contact-row {
  width: 100%;
  margin: 0;
  padding: 0 2.5em;
  border-radius: 10px 10px 0 0;
  border: none;
}

.contact-row.contact-header {
  padding: 4em 3em;
  background: url(/ポートフォリオ/SecondHouse/img/form4.jpg) no-repeat center center/cover;
  color: #fff;
}

.contact-row-form {
  width: 100%;
  padding: 0 2.5em;
}

.contact-row-form.contact-body {
  padding: 2em 2.5em;
}

.contact-title {
  display: inline-block;
  position: relative;
  font-size: 70px;
  color: #222;
  font-family: "Dancing Script", cursive, "Great Vibes", cursive, "Parisienne", cursive;
}

@media (max-width: 767px) {
  .contact-title {
    font-size: 50px;
  }
}

.contact-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 100px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #222;
  border-radius: 2px;
}

.contact-item {
  top: 0;
  left: 0;
  margin: 24px 0;
}

@media (min-width: 768px) {
  .contact-item {
    display: flex;
    justify-content: center;
  }
}

.contact-text {
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
}

.contact-btn {
  display: inline-block;
  width: 30%;
  padding: 0.74em 1.5em;
  background: linear-gradient(to right, #222 50%, #fff 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  color: #222;
  border: none;
  border-left: 0.2em solid #222;
  border-color: none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
  transition: all .5s ease-out;
}

@media (max-width: 767px) {
  .contact-btn {
    width: 50%;
  }
}

.contact-btn:hover {
  background-position: left bottom;
  color: white;
}

form {
  max-width: 100%;
  display: block;
  padding-bottom: 24px;
}

form ul li {
  width: 100%;
}

form ul li:last-child {
  margin: 0;
}

form ul li .req {
  color: #EA4434;
}

form label {
  display: block;
  margin: 0 1em 0.5em 0;
  color: #fff;
  text-align: left;
  font-size: 14px;
  padding-left: 8px;
  flex: 0 0 25%;
  background: #222;
  border-radius: 25px 0px 0px 25px;
  line-height: 2;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}

form label#message {
  display: inline-block;
  line-height: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  form label#message {
    height: auto;
    line-height: 2;
  }
}

form label:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #666;
  padding: 6px 10px;
  flex: 0 0 65%;
  color: #666;
  font-size: 1em;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}

form textarea {
  border: 1px solid #666;
  min-height: 100px;
  height: 100px;
  flex: 0 0 65%;
  padding: 6px 10px;
  color: #666;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  form textarea {
    min-width: 100%;
    max-width: 100%;
  }
}

.divider {
  margin: 0 auto 2em;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #EA4434, #4f6fad);
}

@media only screen and (max-width: 480px) {
  input {
    width: 100%;
  }
  label {
    width: 100%;
    display: inline-block;
  }
  li, p {
    width: 100%;
  }
  input.btn {
    margin: 1.5em 0 0.5em;
  }
  h1 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.125em;
  }
  li small {
    display: none;
  }
}

.footer {
  background: #222;
  padding: 20px 0;
}

.footer-items {
  display: flex;
}

.footer-left {
  width: 50%;
  text-align: left;
}

.footer-menu-item {
  display: block;
  color: #fff;
  padding: 4px 2px;
  position: relative;
  display: inline-block;
  transition: .3s;
}

.footer-menu-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: .3s;
}

.footer-menu-item:hover:after {
  width: 100%;
}

.footer-right {
  width: 50%;
  text-align: right;
  position: relative;
}

.footer-sns {
  font-size: 28px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 767px) {
  .footer-sns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.footer-sns a {
  color: #fff;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .footer-sns a {
    padding: 0 10px;
  }
  .footer-sns a:last-child {
    padding-right: 0;
  }
}

.footer-sns a:hover {
  color: #666;
  transition: all 0.3s;
}

.footer-logo {
  padding: 10px;
}

@media (max-width: 767px) {
  .footer-logo {
    padding: 0;
  }
}

.footer-logo img {
  width: 160px;
  height: 40px;
}

.copyright {
  color: #fff;
  margin-top: 14px;
}

@media (max-width: 767px) {
  .copyright {
    margin-top: 20px;
  }
}

.page-top {
  margin: 0;
  padding: 0;
}

.page-top p {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 16px;
  bottom: 16px;
}

@media (max-width: 767px) {
  .page-top p {
    right: -316px;
  }
}

.move-page-top {
  display: block;
  background: #666;
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.move-page-top:hover {
  opacity: 0.85;
}
