@charset "utf-8";

// reset.css
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// reset.css end

$breakpoints: (
  "sp": "(max-width: 767px)",
  "md": "(min-width: 768px)",
)!default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.is-pc {

  @include mq(sp) {
    display: none;
  }
}

.is-sp {

  @include mq(md) {
    display: none;
  }
}

$font-white :#fff;
$font-black : #535353;
$font-green : #3DC9B3;
$font-pink : #E3558B;
$font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "游ゴシック", "YuGothic";


body,
html {
  font-size: 14px;
  font-family: $font-family;
  line-height: 1.42857142;

  @include mq(sp) {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
}

.inner {
  max-width: 81.25%;
  // width 1170px
  margin: 0 auto;
}



// header

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 55px;
  background: #333333;
  top: 0;
  left: 0;
  display: flex;
}

.header-logo {

  img {
    // transform: translateX(0%);
  }
}

.header-nav {
  margin-left: auto;
}

.header-lists {
  
  @include mq(md) {
    display: flex;
  }

  li {
    height: 55px;
    line-height: 55px;
  }
}

.header-list {
  display: block;
  color: #EEEEEE;
  padding: 0 1em;
  font-size: 13px;

  &:hover {
    background: rgba(255,255,255,0.15);
    transition: all 0.3s;
    }

    @include mq(sp) {
      color: $font-black;
    }
  }


.header-box {
  background: $font-green url(../../images/dova/bell.svg) 20px 15px no-repeat;
  width: 184px;
  margin: 0 0 0 1.4em;
  padding: 0 0 0 46px;
  height: 55px;
  background-size: 20px 20px;

  @include mq(sp) {
    width: 100%;
    margin: 0;
  }
  
  a {
    display: block;
    padding-left: 2px;
    color: #fff;
  }

  &:hover {
    background: #64D4C2 url(../../images/dova/bell.svg) 20px 15px no-repeat;
    background-size: 20px 20px;
    transition: all 0.3s;
  }

}

// top

.top {
  position: relative;
  background: url(../../images/dova/eyeCatch.png) no-repeat center center / cover;
  padding-bottom: 140px;

  @include mq(sp) {
    background: url(../../images/dova/eyeCatch.png) no-repeat -550px 0px / cover; 
  }

 &:after {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: $font-white;
   opacity: 0.1;
 } 
}

.top-inner {
  padding-top: 135px;
}

.top-logo {
  width: 150px;
  height: 150px;
  margin: 50px auto 0;
}

.top-title {
  text-align: center;
  font-size: 42px;
  color: $font-white;
  letter-spacing: 12px;
  margin-top: 36px;
  text-shadow: 0 0 15px #ABB35C;
  font-family: 'Varela Round',"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "游ゴシック", "YuGothic";

  @include mq(sp) {
    font-size: 20px;
  }
}

.top-text {
  text-align: center;
  color: $font-white;
  font-size: 17px;
  margin: 20px 0 40px;
  letter-spacing: 1px;
  line-height: 2.2;
}

.top-box {
  width: 47.86%;
  height: auto;
  background: rgba(255,255,255,0.85);
  border-radius: 2px;
  padding: 18px 0 20px 26px;
  margin: 0 auto;

  @include mq(sp) {
    width: 100%;
    padding: 18px 20px;
  }
}

.top-list {
  color: #434343;
  letter-spacing: 1px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(sp) {
    padding-bottom: 4px;
    border-bottom: 0.5px solid $font-green;
  }

  img {
    width: 20px;
    margin-right: 12px;

    @include mq(sp) {
      display: block;
      margin-bottom: 4px;
    }
  }
}


// section

.section-title {
  padding-top: 90px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 27px;
  letter-spacing: 0.5px;
  color: $font-black;
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid $font-green;

  @include mq(sp) {
    margin-bottom: 50px;
  }
}

.section-footer {
  width: 100%;
  background: #F5F5F5;
  margin: 0 auto;
  padding: 30px 18px 20px 40px;
  border-radius: 3px;
  
  @include mq(md) {
    display: flex;
    top: 0;
    left: 0;
  }

  @include mq(sp) {
    width: 100%;
    padding: 18px 20px;
  }
}

.section-footer-left {
  
  @include mq(md) {
    padding-right: 52px;
  }  

  @include mq(sp)  {
    text-align: center;
    margin-bottom: 12px;
  }

  img {
    width: 100px;
  }
}

.section-footer-right {
}

.section-footer-item {
  margin-bottom: 16px;
  font-size: 14px;
  padding-top: 1px;
  color: $font-black;
  
  @include mq(md) {
    display: flex;
    top: 0;
    left: 0;
  }  

  @include mq(sp) {
    padding-bottom: 4px;
    border-bottom: 0.5px solid $font-green;
    font-size: 12px;
  }

  img {
    width: 20px;
    margin-right: 12px;
    height: 17.8px;

    @include mq(sp) {
      display: block;
      margin-bottom: 4px;
    }
  }
}

.section-footer-text {
  padding-top: 4px;
}


// uses

.uses {
  position: relative;
  padding-bottom: 105px;

  &:after {
    content: "";
    position: absolute;
    bottom: -84px;
    left: 50%;
    z-index: 500;
    display: block;
    margin-left: -50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 35px solid $font-white;
  }
}



.uses-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.uses-item {
  display: block;
  width: 100%;
  flex: 0 0 25%;
  padding: 0 15px;
  margin-bottom: 50px;
  justify-content: space-between;
  text-align: center;
  line-height: 104px;

    @include mq(sp) {
      flex: 0 0 50%;
    }
    
    img {
      width: 156px;
      height: 156px;
    }
}

.uses-item-title {
  margin: 15px 0;
  line-height: 25px;
  text-align: center;
  color: $font-green;
  font-size: 15px;
}

.uses-item-text {
  font-size: 12.5px;
  line-height: 1.7;
  text-align: justify;
  letter-spacing: 1px;
  text-indent: 1em;
  color: $font-black;

  @include mq(sp) {
    font-size: 10px;
  }  
}


// creator

.creator {
  background: $font-pink;
  padding-bottom: 105px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -84px;
    left: 50%;
    z-index: 500;
    display: block;
    margin-left: -50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 35px solid $font-pink;
  }
}

.creator-title {
  color: $font-white;
  padding-bottom: 24px;
  padding-top: 140px;
}

.creator-container {
  
  @include mq(md) {
    display: flex;
  }
}

.creator-left,
.creator-right {
  width: 50%;

  @include mq(sp) {
    width: 100%;
  }
}


.creator-pictures {
  display: flex;
  flex-wrap: wrap;

}

.creator-picture {
  flex: 0 0 16.66%;
  justify-content: space-between;

  @include mq(sp) {
    flex: 0 0 25%;

  }


  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 7px;
    margin: 10px 15px 0 0;
  }
}

.creator-right-title {
  font-size: 16px;
  color: $font-white;
  border-bottom: 1px dotted #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0.5em;

  @include mq(sp) {
    font-size: 14px;
  }

}

.creator-right-text {
  font-size: 13px;
  padding: 0 0.5em;
  color: $font-white;
  text-indent: 1em;
  margin-bottom: 13px;
  line-height: 1.7;

  @include mq(sp) {
    font-size: 12px;
  }

}

.creator-more {
  color: $font-white;
  line-height: 1.7;
  font-size: 13px;
  padding: 0 0.5em;

  a {
    display: inline-block;
    margin: 0 4px;

    background: #FFFFFF33;
  }
}

.creator-right-footer {
  margin: 0 auto;
}

.creator-button {
  width: 49.12%;
  height: 34px;
  line-height: 1.4285;
  color: $font-white;
  background: $font-green;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 18px;
  padding: 6px 12px;
  cursor: pointer;

  @include mq(sp) {
    width: 80%;
    margin-bottom: 12px;
  }
}

.creator-sample {
  height: 34px;
  margin: 0 auto;
  text-align: center;
  color: $font-white;
  border-bottom: 1px dotted #fff;
  margin-left: 26px;
  padding: 2px;

  @include mq(sp) {
    display: inline-block;
    width: 80%;
    height: auto;
  }

  &:hover {
    color: #333;
    transition: all 0.3s;
  }
}

.creator-footer {
  margin-top: 60px;
}

// price

.price {
  background: #F5F5F5;
  padding-bottom: 105px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -84px;
    left: 50%;
    z-index: 500;
    display: block;
    margin-left: -50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 35px solid #F5F5F5;
  }
}

.price-title {
  padding-top: 100px;
}

.price-text-gray {
  font-size: 18px;
  color: #8C9398;
  text-align: center;
  margin: 18px 0 30px;
  letter-spacing: 0.5px;

  @include mq(sp) {
    font-size: 14px;
  }
}

.price-more {
  text-align: center;
  line-height: 1.4285;
  color: #333;
}

.price-items {
  margin: 46px 0;
  
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }

  @include mq(sp) {
    margin: 30px 0;
  }
}

.price-item {
  background: url(../../images/dova/price-bg.png)center center no-repeat;
  padding: 0 15px;
  height: 220px;
  text-align: center;
  
  @include mq(md) {
    flex: 0 0 33.33%;
  }

  @include mq(sp) {
    width: 100%;
    margin-bottom: 12px;
  }
  
  img {
    width: 126px;
    margin: 30px 0 8px;
  }
}

.price-item-title {
  color: $font-white;
  height: 25px;
  line-height: 25px;
}

.price-item-text {
  color: $font-white;

  span {
    font-size: 11px;
  }
}

.price-footer {
  background: $font-white;
}


// flow

.flow {
  padding-bottom: 105px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -84px;
    left: 50%;
    z-index: 500;
    display: block;
    margin-left: -50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 35px solid $font-white;
  }
}

.flow-title {
  padding-top: 100px;
}

.flow-title-gray {
  font-size: 18px;
  color: #8C9398;
  text-align: center;
  margin: 18px 0 30px;

  @include mq(sp) {
    font-size: 14px;
  }  
}

.flow-text {
  text-align: center;
}

.flow-title-green {
  margin-top: 68px;
  font-size: 20px;
  background: $font-green;
  width: 100%;
  color: $font-white;
  height: 38px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 45px;
}

.flow-item {
  position: relative;
  width: 93%;
  padding: 0 0 25px 50px;
  margin-left: 50px;
  margin-top: -16px;
  border-left: 1px solid $font-pink;

  @include mq(sp) {
    margin-left: 24px;
  }
}

.flow-item-number {
  position: absolute;
  top: 0;
  left: -25px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: $font-pink;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  color: $font-white;
}

.flow-item-title {
  font-size: 17px;
  color: $font-pink;
  margin: 17px 0 10px 0;
}

.flow-item-text {
  line-height: 2;
  color: $font-black;

  a {
    color: $font-black;

    &:hover {
      color: $font-green;
      transition: all 0.3s;
    }
  }
}

.flow-item-footer-text {
  display: block;
  background: #F2F2F2;
  margin: 15px 0 0;
  padding-right: 8px;
  text-align: right;
  height: auto;
  line-height: 28px;
  width: 100%;
}

.border-none {
  border-left: none;
}

.flow-item-text-more {
  color: $font-pink;
}

.green2 {
  margin-top: 30px;
}


// contact

.contact {
  background: $font-pink;
  padding-bottom: 105px;
}

.contact-title {
  color: $font-white;
}

.contact-text {
  font-size: 18px;
  margin: 18px 0 30px;
  color: $font-white;
  text-align: center;
  letter-spacing: 0.5px;
}

.contact-text-more {
  color: $font-white;
  text-align: center;
}

.contact-buttons {
  text-align: center;

  @include mq(sp) {
    margin-top: 12px;
  }
}

.contact-button {
  background: $font-green url(../../images/dova/pdf.png) 10px 1px no-repeat;
  height: 28px;
  line-height: 29px;
  padding: 0 16px 0 38px;
  border-radius: 2px;
  margin: 22px 24px 40px 0;

  @include mq(sp) {
    margin: 10px 20px 10px 0;
  }

  a {
    color: $font-white;
    font-size: 12px;
  }
}

.contact-form {
  width: 100%;
  background: $font-white;
  padding-top: 30px;

  @include mq(sp) {
    margin-top: 12px;
    padding-top: 0;
  }
}

.contact-inner {
  padding: 30px;
  margin: 0 auto;
}

.contact-form-title {
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid $font-green;
  margin: 20px 0 30px 0;
  padding-left: 8px;

  @include mq(sp) {
    text-align: center;
  }
}

.contact-item {
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 16px;
  
  @include mq(md) {
    display: flex;
  }

  @include mq(sp) {
    margin-bottom: 36px;
  }
}

.contact-required {
  position: absolute;
  top: 4px;
  left: 140px;
  font-size: 10px;
  color: $font-white;
  background: $font-pink;
  padding: 2px 2px 0 2px;
  width: 2.6em;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;

  @include mq(sp) {
    top: 2px;
    left: 88.52%;
    // left216px
  }
}

.contact-name {
  text-align: right;
  width: 17%;
  position: relative;
  padding-top: 28px;
  font-weight: normal;
  margin: 0 28px 0 18px;

  @include mq(sp) {
    width: 100%;
    font-size: 14px;
    margin: 0;
  }
}

.contact-input,
.contact-selects,
.contact-textarea {
  width: 100%;
}

select,
input[type="name"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="address"] {
  width: 50%;
  background: #fafafa;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: $font-black;
  height: 50px;

  @include mq(sp) {
    width: 100%;

  }
}

.quantity {
  height: 314px;
}

.contact-quantity-lists {
  width: 100%;
}

.contact-quantity-list {
  position: relative;
  margin-bottom: 16px;
  
  @include mq(md) {
    display: flex;
  }

  @include mq(sp) {
    text-align: right;
  }

  span {
    position: absolute;
    top: 17px;
    left: 12px;
    font-size: 12px;
    line-height: 1.4;
    z-index: 500;
  }
}

#quantity {
  
  @include mq(md) {
    flex: 0 0 25%;
    margin-left: 25%;
  }

  @include mq(sp) {
    width: 50%;
  }
}

textarea {
  width: 95%;
  background: #fafafa;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: $font-black;
  height: 200px;

  @include mq(sp) {
    width: 100%;
  }
}

.textarea {
  height: 200px;
}

.required-pink {
  border: 1px solid $font-pink !important;

  &::placeholder {
    color: $font-pink !important;
  }
}

.contact-footer-text {
  text-align: center;

  a {
    color: $font-black;

    &:hover {
      color: $font-green;
      transition: all 0.3s;
    }
  }
}

.display-none {
  display: none;
  transition: all 0.3s;
}
.submit-box {
  width: 100%;
  margin: 18px auto 24px;
  text-align: center;
}

.contact-submit {
  font-size: 20px;
  color: $font-white;
  background: $font-green;
  width: 80%;
  height: 64px;
  line-height: 64px;
  border: none;

  @include mq(sp) {
    font-size: 12px;
    line-height: 20px;
  }
}

.contact-submit-dummy {
  font-size: 20px;
  color: $font-pink;
  text-align: center;
  background: #e5e5e5;
  width: 80%;
  height: 64px;
  line-height: 64px;
  margin: 18px auto 24px;

  @include mq(sp) {
    font-size: 12px;
    line-height: 20px;
    padding-top: 10px;
  }
}

.contact-submit-p {
  font-size: 13px;
  border-bottom: 1px solid $font-pink;
  color: $font-pink;
  margin-left: 31.5%;

  @include mq(sp) {
    margin-left: 0;
  }
}


// footer 

.footer {
  background: #333;
  color: $font-white;
  width: 100%;
}

.footer-sns {
  text-align: center;
}

.fab {
  font-size: 20px;
  margin: 26px 46px 12px 0;
  color: #D5D5D5;


  
  &:first-child {
    margin-left: 46px;
  }

  &:hover {
    color: $font-white;
    transition: all 0.3s;
  }
}

.copyright {
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 12px;
}


// totop

.page-top
{
	margin: 0 ;
	padding: 0 ;
}
 
.page-top p
{
	margin: 0 ;
	padding: 0 ;

	position: fixed ;
	right: 26px ;
  bottom: 34px ;
  z-index: 500;
}
 
.move-page-top
{
	display: block ;
	background: #333 ;
	width: 32px ;
	height: 32px ;

	color: #fff ;
	line-height: 1.42857143 ;
	text-decoration: none ;
  text-align: center ;
  border: 4px solid #333;
  border-radius: 50%;


	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}

.move-page-top:hover
{
	opacity: 0.85 ;
}